#AlliancePanel {
  display: flex;
  flex-direction: column;
  gap: 12px;
  max-width: 320px;
  margin: 0 auto;
  font-family: "Rowdies", sans-serif;
  font-weight: 300;
  color: white;
}

.alliance {
    display: flex;
    margin-bottom: 15px;
    width:250px;
    height:80px;
    padding:0;
    background:#3992ef;
    color:white;
    font-family: "Rowdies", sans-serif;
    font-weight: 300;
    font-style: normal;
    border-bottom:solid 2px #337ecc;
    box-shadow: 0px 1px 2px black;
      position: relative;
}

.alliance:hover {
  background-color: #337ecc;
}

.alliance-banner{
    display: flex; /* Use flexbox */
    justify-content: center; /* Horizontally center the image */
    align-items: center; /* Vertically center the image */
    margin-left: 20px;
    height: 85px;
    filter: drop-shadow(0px 0px 2px black);
    position: relative;
    top : -5px;
}

.alliance-banner>.alliance-banner-icon {
    width: 45px;
    z-index: 2;
}

.alliance-banner>.alliance-banner-shape {
    position: absolute;
    width: 80px;
    height: 80px;

    background-color: var(--guild-color);
    
    -webkit-mask-size: contain;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;

    mask-size: contain;
    mask-repeat: no-repeat;
    mask-position: center;

    z-index: 0;
}

.alliance-banner>.alliance-banner-shape-shadow{
    position: absolute;
    width: 80px;
    height: 80px;

    mix-blend-mode: multiply;

    opacity: 0.8;
    z-index: 1;
}

.alliance-info {
      flex:right;
    margin-left:20px;
}

.alliance-name {
  margin: 0;
  font-size: 1.1rem;
  font-weight: 600;
}

.alliance-acronym {
  font-size: 0.9rem;
  opacity: 0.8;
}

.alliance-actions {
    position: absolute;
    right : 0;
    bottom: 10px;
}
